<!-- Node for merging magnetometer and accelerometer data into a single imu message -->
<launch>
  <!-- #### Nodelet manager ######################################################

  <node pkg="nodelet" type="nodelet" name="imu_manager" 
    args="manager" output="screen" />

  #### IMU Driver ###########################################################

  <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet" 
    args="load imu_filter_madgwick/ImuFilterNodelet imu_manager" 
    output="screen">
    
    <param name="publish_tf" value="false"/> -->

  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node" output="screen" clear_params="true">
      <param name="publish_tf" value="false"/>
      <param name="use_mag" value="false"/>
      <param name="remove_gravity_vector" value="true"/>
    
      <remap from="imu/data_raw" to="mpu9250_imu_calibed"/>
      <remap from="imu/data" to="mpu9250_imu"/>
  </node>

  <include file="$(find imu_calib)/launch/imu_calib.launch"/>


</launch>
