<launch>
    
    <node name="landmark_update" pkg="eurobot_localization" type="uc_ekf" >
        <rosparam file="$(find eurobot_localization)/config/ekf_dit.yaml"/>
    </node>
    
    <!-- <node type="rviz" name="rviz_ekf" pkg="rviz" args="-d $(find eurobot_localization)/rviz/stage.rviz" /> -->
</launch>
